<!DOCTYPE html>
<html>
    <head>
        <title>KOTIK</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <script src="/static/js/kotik.js"></script>
        <link rel="stylesheet" href="/static/css/some-bootstrap.css">

        <link rel="stylesheet" href="/static/css/kotik.css" />
        <link rel="stylesheet" href="/static/css/layout/reset.css" />
        <link rel="stylesheet" href="/static/css/layout/fonts.css" />
        <link rel="stylesheet" href="/static/css/layout/main.css" />
        <link rel="stylesheet" href="/static/css/layout/events/main-event.css" />
        <link rel="stylesheet" href="/static/css/layout/events/other-events.css" />

        <!--[if IE]>
        <link rel="stylesheet" href="css/ie-fix.css" />
        <![endif]-->
    </head>
    <body>
        <header id="main-header">
            <div id="header-content">
                <div id="header-info">
                    <a href="#" id="home">
                        <h1>Koło Otwartych Technik Informacyjnych i Komputerowych</h1>
                        <div id="logo">KOTIK</div>
                    </a>
                </div>
            </div>
        </header>
        <section id="main-event">
            <article class="event">
  {% for info_msg in info %}
  <div class="alert alert-info">
    {{ info_msg }}
  </div>
  {% endfor %}
  {% for success in successes %}
  <div class="alert alert-success">
    {{ success }}
  </div>
  {% endfor %}
  {% for error in errors %}
  <div class="alert alert-error">
    {{ error }}
  </div>
  {% endfor %}
  {% block context %}
  {% endblock %}
            </article>
        </section>

        <footer>
            Copyright © 2013 – Template by <a href="#">KOTIK</a> on the <a href="#">GPLv3</a> license.
        </footer>
    </body>
</html>
